doctype html
html
head
	title Zach Weight - Vermont Attorney
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet")
	style
		include critical.css
body
	.upper-background
	main
		img(src="https://pixnio.com/free-images/2021/01/04/2021-01-04-16-59-45-400x600.jpg")
		.content
			h1 Zachery Weight
			.content-body
				p Attorney Zachery Weight is an experienced criminal trial attorney with a proven track record of successful results. He is skilled in litigation with over seven years of experience and more than two dozen jury trials.
